:root {
    --main-background-color: #ffffff1c;
    --main-font-color: white;
    --secondary-background-color: #045B9D;
    --secondary-background-color-op: #0478D1BF;
}

body {
    background-color: var(--main-background-color);
    background-image: url('/kaj-ifoto-edit/assets/background.jpg');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-font-color);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h3 {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 20px;
}

.head {
    background-color: var(--secondary-background-color);
    height: auto;
    padding: 0.1% 2%;
    display: flex;
    justify-content: space-between;
}

.head div{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.head div img{
    height: 70%;
    margin: 10px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.top-bar{
    background-color: var(--main-background-color);
    padding: 5px 8%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.main-content-block {
    display: flex;
    width: 90%;
}

@media (max-width: 1150px) and (min-width:750px){
    .main-content-block{
        width: 100%;
    }
    
    .top-bar{
        padding: 5px 10px;
        width: 90%;
    }
}

.side-column {
    width: 250px;
    background-color: var(--main-background-color);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: 75vh;
    overflow-y: scroll;
}

.dropdown{
    display: none;   
}

.dropdown-label{
    display: flex;
    padding: 5% 10%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 20px;
}

.dropdown-label img{
    height: 20px;
    transition: all 0.2s ease;
}

.img-rotate{
    transform: rotate(-90deg);
}

.dropdown-label:hover{
    background-color: rgb(58, 58, 58);
}

#dropdown1:checked + ul{
    height: 340px;
}

#dropdown2:checked + ul{
    height: 800px;
}

.side-column ul {
    height: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 1s ease;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.side-column ul li{
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    border-left: 10px solid var(--secondary-background-color-op);
    transition: all 0.2s ease;
    flex-grow: 1;
}

.side-column ul li:hover {
    margin: 5px;
}

.slider-field-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-val {
    width: fit-content;
}

.filter-button{
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: var(--main-font-color);
    background-color: transparent;
    border: none;
    transition: all 0.2s ease;
}

.filter-button:hover{
    color: rgb(181, 220, 255);
    cursor: pointer;
}

.filter-button:active{
    font-size: 15px;
}

/*Loading anim part ------------------------------------------------------------ */

#loadingLabel{
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px 20px;
    border-radius: 15px;
}

#loadingLabel::after{
    margin-left: 10px;
    content: "loading";
    width: 70px;
    animation: loadingLab 0.8s infinite steps(3);
}

@keyframes loadingLab {
    33% {content: "loading.  ";}
    66% {content: "loading.. ";}
    99% {content: "loading...";}
}

#loading{
    display: block;
    height: 30px;
    animation: loading  0.8s infinite steps(8);
}

@keyframes loading {
    100% {transform: rotate(360deg);}
}

/*Loading anim part end ------------------------------------------------------------ */


/* Custom buttons part ------------------------------------------------------------ */

.buttons{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.312);
    color: var(--main-font-color);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: none;
    transition: all 0.2 s ease;
}

.buttons:hover{
    background-color: rgba(21, 21, 21, 0.365);
}

.buttons:active{
    transform: scale(0.9);
}

#download::before{
    display: block;
    align-self: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("/kaj-ifoto-edit/assets/icons/download.png");
}

#reset::before{
    display: block;
    align-self: center;
    margin: 5px 10px;
    width: 35px;
    height: 35px;
    content: "";
    background-image: url("/kaj-ifoto-edit/assets/icons/reset.png");
}

#undo::before{
    display: block;
    align-self: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("/kaj-ifoto-edit/assets/icons/undo.png");
}

#redo::before{
    display: block;
    align-self: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("/kaj-ifoto-edit/assets/icons/redo.png");
}

/* Custom buttons part end ------------------------------------------------------------ */


/* Custom file input part ------------------------------------------------------------ */

.file-field {
    background: var(--main-background-color);
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.file-field::-webkit-file-upload-button{
    color: rgb(255, 255, 255);
    background: var(--secondary-background-color);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.5s;
    height: 100%;
}

.file-field::-webkit-file-upload-button:hover{
    background: rgb(154, 197, 199);
}

.file-field::-moz-file-upload-button{
    color: rgb(255, 255, 255);
    background: var(--secondary-background-color);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.5s;
    height: 100%;
}

.file-field::-moz-file-upload-button:hover{
    background: rgb(154, 197, 199);
}

/* Custom file input part end ------------------------------------------------------------ */

/* Custom slider part ------------------------------------------------------------ */

.slider {
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background: var(--secondary-background-color);
    border-radius: 25px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    height: 5px;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: whitesmoke;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb:hover {
    border: 2px solid gray;
}

.slider::-moz-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: whitesmoke;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.slider::-moz-slider-thumb:hover {
    border: 2px solid gray;
}

/* Custom slider part end ------------------------------------------------------------ */

/* Canvas part ------------------------------------------------------------ */

.canvas-field {
    flex-grow: 1;
    background-color: var(--main-background-color);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) brightness(0.2) ;
    border-radius: 10px;
}

.drop-highlight{
    background-color: gray;
}

#canvas {
    background: rgba(235, 235, 235, 0);
    max-height: 75vh;
    max-width: 90%;
}

#preload-img-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#preload-img-label:hover {
    cursor: pointer;
}

#preload-img{
    max-height: 200px;
}

.canvas-field-h:hover {
    background-color: rgb(26, 26, 26);
}

#preload-img-label:active{
    transform: scale(0.8);
}

/* Canvas part end ------------------------------------------------------------ */

@media (max-width: 750px){
    .main-content-block{
        flex-direction: column-reverse;
    }

    .side-column{
        height: 40vh;
        width: 100%;
    }
    
    #canvas {
        max-height: 40vh;
    }

    .top-bar{
        padding: 0 10px;
        box-sizing: border-box;
        width: 90%;
        height: 50px;
        align-items: center;
    }

    .buttons{
        transform: scale(0.6);
        margin: 0;
    }

    .file-field{
        flex-grow: 1;
        width: 100px;
    }
}
